.container {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    border: 1px solid blueviolet;
    width: 600px;
    gap: 5px;
}

.caixa1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    border: 1px solid green;
}

.caixa2 {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid red;
}

.caixa3 {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
    border: 1px solid pink;
}
