@charset "UTF-8";

/* Todas as demais medias */

/* Typical Device Breakpoints
pequenas telas: até 600px
Celular: até 600px até 768px
Tablet: 768px aaté 992px
Laptop e Desktop: 992px até 1200px
TV: acima de 1200px */

@media print { /* IMPRESSÃO */
    body {
        background-image: url(../imagens/back-print.jpg);
        /* desnecessário pois não imprime */

        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (max-width:600px) {

}

 @media screen and (min-width: 768px) and (max-width: 992px) { 
    /*TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

 @media screen and (min-width: 992px) and (max-width:1200px) { 
    /*DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

 @media screen and (min-width:1200px) { 
    /*GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
        
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}